.main-container {
    display: flex;
}

.main-container-item {
    margin-left: 10vh;
}

.menu-list {
    display: flex;
    flex-direction: column;
    margin: 1vh 0 1vh;
}

.menu-list-button {
    margin: 0.3vh;
}

.languages-filter {
    flex: 1;
    display: flex;
}

.languages-filter-item {
    margin: 0.5%;
    font-style: italic;
}

.words-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.words-grid-item {
    padding: 20px;
    text-align: center;
}

.page-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.page-selection-item {
    justify-content: center;
    height: 4vh;
    width: 10vh;
    margin-right: 2vh;
}

.add-word-button {
    margin-top: 2vh;
}
